services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: recon_app
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    environment:
      - TZ=Africa/Nairobi
    restart: always
